server.port: 8086

logging:
  level:
    org.springframework.security: DEBUG

security:
  basic:
    enabled: false
  oauth2:
    resource:
      userInfoUri: http://jsuaa.cfapps.io/userinfo
      # token_key
    # Not a real client
    # JWT with UAA not so well with other IDP
    # Test Token Relay with out
    client:
      clientId: apigateway

# This allows the Authorization Headers to
# flow to the downstream services
zuul.sensitiveHeaders: Cookie,Set-Cookie
zuul:
  routes:
#    uaa:
#      path: /uaa/**
#      url: ${targets.uaa}/
    hello: /api/hello/**
#    hello:
#      path: /api/hello/**
#      url: http://localhost:8080/hello
    sayhello: /api/sayhello/**

eureka:
  instance:
    leaseRenewalIntervalInSeconds: 10
  client:
    serviceUrl:
      defaultZone: ${vcap.services.my-service-registry.credentials.uri:http://127.0.0.1:8761}/eureka/

---

spring:
  profiles: cloud

eureka:
#  password: password
  instance:
    hostname: ${vcap.application.uris[0]}
#    hostname: jsapigateway.cfapps.io
    nonSecurePort: 80

targets.scheme: http